node_modules
npm-debug.log

.git
.gitignore

.env
.env.example
*.key
*.pem
Errores.log

.venv
__pycache__
*.pyc

Logos
Scripts
notifier
db
certs
TODO
LICENSE
README.md

Dockerfile
docker-compose.yml
.dockerignore

start.bat
